.App {
  > .App-header {
    background-image: linear-gradient(to right, var(--blue), var(--blue-2));
    height: 4.125rem;
    display: flex;
    align-items: center;
    color: var(--white);

    .row {
      justify-content: space-between;

      i.fas {
        margin-right: 0.375rem;
      }
    }
  }
}