.App {
  > .App-header {
    background-image: linear-gradient(to right, #053659, #094878);
    height: 66px;
    display: flex;
    align-items: center;
    color: var(--white);

    .row {
      justify-content: space-between;
    }
  }
}