:root {
  --black: #303030;
  --white: #ffffff;
  --blue: #053659;
  --blue-2: #094878;
  --grey: #CBCBCB;
  --dark-grey: #404D59;
  --orange: #E76E19;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: var(--black);
}

.App-link {
  color: #61dafb;
}
